<h1>User list</h1>
<br/>
<div ng-if="$ctrl.service.currentUser">
  {{$ctrl.service.currentUser.name}}
</div>
<div ng-if="!$ctrl.service.currentUser">
  No user has been selected
</div>


<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Country</th>
      <th></th>
    </tr>
    <tbody>
      <tr ng-repeat="item in $ctrl.users track by $index">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.sex}}</td>
        <td>{{item.country}}</td>
        <td><button class="btn btn-primary" ng-click="$ctrl.toggle($index)">show</button>
          <user-details user-index="$index" ng-if="item.visible"></user-details></td>
      </tr>
    </tbody>
  </table>
</div>

