<h1>Some useful government service</h1>

<form name="personForm" id="personForm" novalidate class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name</label>
        <div class="col-sm-6" ng-class="{ 'has-error':personForm.name.$invalid && personForm.name.$touched }">
            <input id="name" name="name" type="text" class="form-control" ng-model="$ctrl.userData.name" required />
        </div>
        <div ng-if="personForm.name.$touched" ng-messages="personForm.name.$error">
            <p class="validation-error" ng-message="required">Required</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="age">Age</label>
        <div class="col-sm-1" ng-class="{ 'has-error':personForm.age.$invalid && personForm.age.$touched }">
            <input type="number" id="age" name="age" class="form-control" ng-model="$ctrl.userData.age" required/>
        </div>
        <div ng-if="personForm.age.$touched" ng-messages="personForm.age.$error">
            <p class="validation-error" ng-message="required">Required</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="sex">Sex</label>
        <div class="col-sm-3">
            <div class="radio-inline">
                <label><input type="radio" name="sex" ng-model="$ctrl.userData.sex" value="Male">Male</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="sex" ng-model="$ctrl.userData.sex" value="Female">Female</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="country">Country</label>
        <div class="col-sm-5" ng-class="{ 'has-error':personForm.country.$invalid && personForm.country.$touched }">
            <select id="country" name="country" class="form-control" ng-model="$ctrl.userData.country" required>
                <option ng-repeat="country in $ctrl.countryList" value="{{country.name}}">
                    {{country.name}}
                </option>
            </select>
        </div>
        <div ng-if="personForm.country.$touched" ng-messages="personForm.country.$error">
            <p class="validation-error" ng-message="required">Required</p>
        </div>
    </div>

    <p class="validation-error" ng-if="!personForm.$valid && $ctrl.submitted">
        You got errors in your form, please fill all the fields properly
    </p>

    <button class="btn btn-primary" ng-click="$ctrl.submitForm(personForm)">APPLY</button>

    <!--<button class="btn btn-danger" ng-click="$ctrl.showUser()">SEE USER</button>-->
</form>
